<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.graduationproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyProfilePage"></activity>
        <activity android:name=".customerchat" />
        <activity android:name=".SingleVenue" />
        <activity android:name=".SecondVenue" />
        <activity android:name=".customervendorvenues" />
        <activity android:name=".vendorvenuespage" />
        <activity android:name=".bookingdetails" />
        <activity android:name=".customervendorpage" />
        <activity android:name=".customersearchresult" />
        <activity android:name=".cutomerhomepage" />
        <activity android:name=".vendorchat" />
        <activity android:name=".vendorcreatevenue" />
        <activity android:name=".vendormyveneus" />
        <activity android:name=".vendorhomepage"/>
        <activity android:name=".signup"/>
        <activity android:name=".signin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>